.menu_item.active ul,.active .child{display: block}
.menu_item ul{display: none}
.ul>.child{display: none}
.child,li>.child{display: none}
.active>.child{display: block}
.nav-bar{height:45px;
    position: relative;
    z-index: 100;}
.menu-item{width:120px}
.sub_menu_item{width:120px}
li.sub_menu_item  a,.sub_menu_item>a,.top-bar-section .child_one a, li .child_one a,.sub_menu li a{font-size: 0.7rem}
.homeblock{
    float: left;
}
.block{margin:10px;
    background-color: #308e97;
    min-height: 150px;
box-shadow:5px 5px 2px 0px rgba(0,0,0,0.75);}
.block:hover {
    margin: 10px;
    background-color: #0078A0;
    box-shadow:2px 2px 1px 0px rgba(0,0,0,0.75);
}
.block p{font-size: 50px;
margin:0 auto;
    color:#fff;
    font-weight: bold;
    line-height: 150px;
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;}
body{font-family: 'Josefin Sans', sans-serif;}
#actions-sidebar ul{width:100%;
padding:0;
margin : 0 auto;}
.child li{
     list-style: none;
    width:100%;
    background-color:#2a6496;
    border-bottom: 1px solid #dedede;}
.child li:hover{
    background-color:#003f54;
    border-bottom: 1px solid #fff;}
.child li a,li.child_one a{
font-size: 1rem}
#actions-sidebar>ul>li{width:100%;
    list-style: none;
background-color:#308e97;
border-bottom: 1px solid #dedede}
#actions-sidebar ul li:hover {background-color: #0078A0;
    border-bottom: 1px solid #f04124;}
#actions-sidebar ul li a,#actions-sidebar a {color:#fff; padding: 5px;
font-size: 1.4rem;}
